* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #0f0f1a;
  min-height: 100vh;
  font-family: 'Bricolage Grotesque', sans-serif;
  color: #2d3748;
  line-height: 1.2;
}

.error-popup {
  background-color: black;
  width: 15vw;
  min-height: 6rem;
  border-radius: 5px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  grid-template-rows: 4rem 1fr;

  text-align: center;
  z-index: 1;

  border: solid 1px black;
}

.error-popup::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
}

.heading-4 {
  margin-top: 7px;
  color: lightgray;
  align-self: start;
}

.error-message {
  align-self: start;
  text-wrap: wrap;
  padding: 10px;
  color: gray;
  margin-top: -0.2rem;
}

.btn-dismiss {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  padding: var(--space-xs);
  width: 100%;
  border-top: solid 1px rgb(46, 46, 46);
  color: lightgray;
}
